.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: rgb(72, 54, 139);

    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
      color: rgb(72, 54, 139);
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: rgb(72, 54, 139);
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        color: rgb(72, 54, 139);
      }
    }
  }
