.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: darkblue;

    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
      color: darkblue;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: darkblue;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        color: darkblue;
      }
    }
  }
